pandas
scikit-learn
streamlit
matplotlib
nltk
joblib
openai
google-generativeai
jupyter
python-dotenv
spacy
seaborn
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
#updated requirments 